@font-face {
    font-family: 'AveriaSansLibreRegular';
    src: url('fonts/AveriaSansLibreRegular.eot');
    src: url('fonts/AveriaSansLibreRegular.eot') format('embedded-opentype'),
         url('fonts/AveriaSansLibreRegular.woff2') format('woff2'),
         url('fonts/AveriaSansLibreRegular.woff') format('woff'),
         url('fonts/AveriaSansLibreRegular.ttf') format('truetype'),
         url('fonts/AveriaSansLibreRegular.svg#AveriaSansLibreRegular') format('svg');
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('fonts/SourceSansProRegular.eot');
    src: url('fonts/SourceSansProRegular.eot') format('embedded-opentype'),
         url('fonts/SourceSansProRegular.woff2') format('woff2'),
         url('fonts/SourceSansProRegular.woff') format('woff'),
         url('fonts/SourceSansProRegular.ttf') format('truetype'),
         url('fonts/SourceSansProRegular.svg#SourceSansProRegular') format('svg');
}