// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Variables
$defaultFont: "SourceSansProRegular";
$secondaryFont: "AveriaSansLibreRegular";

$grayColor10: #666;

* {
  font: {
    family: $defaultFont;
    weight: normal;
  }
}

.labels {
  font: {
    size: 0.5rem;
  }
}

.asset-text,
.time {
  font: {
    family: $secondaryFont;
    size: 0.7rem;
  }
}

.header-columns {
  font-family: $secondaryFont;
}